body {
    background-color: #48e;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}

.box {
    width: 100%;
    height: 100px;
    margin: 20px;
    margin: 0;
    background: url("soyDalto.jpg") top / cover fixed #6fa
}

.opaco {
    height: 100%;
    width: 100%;
    background-color: #000a;
}

h2 {
    padding: 20px;
    text-align: center;
}